/bin/
/out/
/.idea/
*.iml
/target
UserProfiles.xml
log.txt
/src/test/UserProfileTests.xml

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/