dist: xenial
services:
  - xvfb
language: java
jdk:
  - oraclejdk15
notifications:
  email: false
  before_script:
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"
    - sleep 5 # give xvfb some time to start
